
      body{
        background-color: rgb(25,25,25);
        color: white;
        font-family: Arial;
      }
      .title{
        font-size: 30px;
        font-weight: bold;
               
      }
      .move-icon{
        height: 50px;
        
      }
      .move-button{
        background-color: transparent;
        border: 3px solid white;
        width: 120px;
        height: 120px;
        border-radius: 60px;
        margin-right: 10px;
        cursor: pointer;
      }
      .result{
        font-size: 25px;
        margin-top: 40px;
        font-weight: bold;
      }
      .score{
        margin-top: 60px;
      }
      .reset-score-button, 
      .auto-play{
        background-color: white;
        border: none;
        font-size: 15px;
        padding: 8px 15px;
        cursor: pointer;
      }
      
       .move-button:active{
    opacity: .54;
  }

  .reset-confirmation{
    margin-top: 10px;
  }

  .button{
    margin-left: 5px;
    height: 30px;
    width: 40px;
    cursor: pointer;
    transform: scale(.95);
  }